body,
html {
  margin: 0;
  padding: 0;
  font-family: serif;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #ff7e5f, #feb47b, #86a8e7, #7f7fd5);
}

.indian-flag-container {
  display: flex;
  align-items: center;
}

.flag-container {
  width: 150px;
  height: 100px;
  margin-bottom: 120px;
  margin-left: -78px;
  margin-top: -138px;
  border: none;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.8);
  border-radius: 2px 5px 5px 2px;
}

.flag-orange,
.flag-white {
  height: 33.33%;
  width: 100%;
}

.flag-orange {
  background: linear-gradient(to right, #c05402, #ff9933, #c05402);
  border-radius: 2px 5px 0px 0px;
}

.flag-white {
  background: linear-gradient(to right, #e0e0e0, #ffffff, #e0e0e0);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.flag-green {
  background: linear-gradient(to right, #0d5b1f, #138808, #0d5b1f);
  border-radius: 0px 0px 5px 2px;
  height: 33.4%;
  width: 100%;
}

.ashoka-chakra {
  width: 32.5px;
  height: 32.5px;
  border-radius: 50%;
  border: 0.9px solid #000080;
  position: relative;
  animation: spinChakra 10s linear infinite;
}

.chakra-line {
  position: absolute;
  width: 0.8px;
  height: 16.2px;
  background-color: #000080;
  right: 51%;
  left: 49%;
  transform-origin: bottom;
  border-radius: 100%;
}

@keyframes spinChakra {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flagpole {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flagpole-stick {
  width: 9.5px;
  height: 300px;
  background: linear-gradient(to right, #522200, #a0522d, #522200);

  border-radius: 5px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.8);
}

.flagpole-ball-1 {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  margin-bottom: -3px;
  background: radial-gradient(circle, #c7673a, #522200);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.8);
  z-index: 2;
}

.flagpole-ball-2 {
  height: 6px;
  width: 14px;
  border-radius: 50%;
  margin-bottom: -3px;
  background: radial-gradient(circle, #c7673a, #522200);
  z-index: 1;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.8);
}

.flagpole-steps {
  margin-top: -2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flagpole-steps-1 {
  height: 30px;
  width: 55px;
  background: linear-gradient(to right, #a84701, #c66b33, #c66b33, #a84701);
  border-radius: 6px 6px 0 0;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.8);
}
.flagpole-steps-2 {
  height: 36px;
  width: 115px;
  background: linear-gradient(to right, #743203, #a55b2c, #a55b2c, #743203);
  border-radius: 5px 5px 0 0;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.8);
}
.flagpole-steps-3 {
  height: 40px;
  width: 170px;
  background: linear-gradient(to right, #522200, #7a3a1e, #7a3a1e, #522200);
  border-radius: 4px 4px 0 0;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.8);
}
